.itinerary-tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
   
  }
  
  .itinerary-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #f8f0fa;  // A soft pastel color for the background
    border: 2px solid #e1c4f2;  // Light purple border
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 14px;
    color: #5a357b; // Soft, dark text color for readability
    font-weight: bold;
  }
  
  .itinerary-tile.selected {
    border-color: #f48fb1;  // Highlight color for selected
    background-color: #ffebf7;  // Light pinkish color for selected
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .itinerary-tile:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
  }
  
  h2 {
    text-align: center;
    color: #5a357b;  // Matching the color theme
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .cancel-button, .save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffebf7; // Light pink background for buttons
    color: #5a357b;
    transition: all 0.2s ease;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .cancel-button:hover, .save-button:hover {
    background-color: #f48fb1;  // Slightly darker shade on hover
  }
  