<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/home" class="logo">Culinary Planner</a>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/itenerary" routerLinkActive="active">Itineraries</a></li>
        <li><a routerLink="/experiences" routerLinkActive="active">Experiences</a></li>
        <li><a routerLink="/restaurants" routerLinkActive="active">Restaurants</a></li>

        <!-- <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li> -->
      </ul>
      <div class="nav-actions">
        <button mat-button>Sign In</button>
      </div>
    </div>
  </nav>
  